# Q1 
What value is displayed when the last expression (a) is evaluated? Explain why?

In [32]:
a = 0
def b(v):
    global a
    a = c(a)
    
def c(a):
    return a + 2
print('b(3) = {}'.format(b(3)))
print('b(4) = {}'.format(b(3)))
print('b(5) = {}'.format(b(3)))
print('a is {}'.format(a))

b(3) = None
b(4) = None
b(5) = None
a is 6

In [ ]:
Explaination of the a value
First execution a=0 which implies c(0) and returns 2
Second execution a=2(return from our first execution) which implies c(2) and returns 4
Third execution a=4(return from our second execution)which implies c(0) and returns 6
Here, the last value of a is 6, since in the function is executed thrice.

# Q2 
To modify function fileLength() so that a friendly message is printed incase of error.

In [3]:
def fileLength(filename):
    try:
        infile = open(filename,'r')
        task = len(infile.readlines())
        print(task)
#here exception is created, so that we can modify the error message
    except FileNotFoundError:
        print('File',filename,'not found.')
fileLength('Python 200508515.py')
fileLength('idterm.py')

100
File idterm.py not found.

# Q3 
Write a class named Marsupial and its subclass Kangaroo such that they can be used as shown below:

In [25]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self, thing):
        self.pouch.append(thing)
    def pouch_contents(self):
        return self.pouch
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [51]:
class Kangaroo(Marsupial):
    def __init__(self,xcoord=0,ycoord=0):
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
    def get(self):
        return(self.x,self.y)
    def __repr__(self):
        return 'I am a Kangaroo located at coordinates({},{})'.format(self.x,self.y)
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

# Q4 
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x & ends at 1.

In [9]:
def collatz(x):
#since x is a positive integer
    if(x < 1): 
        print('Error: x takes positive integer values only')
    else:
#x takes value 1  
        if(x == 1): 
            print(1)
            return 

        print(int(x))
#x is odd   
        if(x%2 == 0): 
            x = x/2
#x is even       
        else:
            x = (3*x)+1

        return(collatz(int(x)))
print('collatz(1)')
collatz(1)
print('collatz(10)')
collatz(10)

collatz(1)
1
collatz(10)
10
5
16
8
4
2
1

# Q5
Write a recursive method binary that takes input n and prints its binary representation.

In [2]:
def binary(n):
    if(n < 0): 
        print('Error: n should be non negative')
    elif(n==0):
        print('0')
    elif(n==1):
        print('1')
#n greater than one will come in else   
    else:                   
        print (n % 2, end = '')
        binary(n//2)
print('binary(0)')
binary(0)
print('binary(1)')
binary(1)
print('binary(3)')
binary(3)
print('binary(9)')
binary(9)

binary(0)
0
binary(1)
1
binary(3)
11
binary(9)
1001

# Q6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document.Each heading should be indented as follows: an h1 heading should haveindentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [39]:
from html.parser import HTMLParser            

class HeadingParser(HTMLParser):        
  
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.url = 0 
        
    def handle_starttag(self, tag, attrs):                             
        if tag[0] == 'h':
            self.url += 1                                     
        else:
            self.url = 0
        
            
    def handle_data(self, output):            
        if self.url:
            print('{}{}'.format(self.url*'', output))

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

# Q7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [19]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
#this will collect hyperlink URLs into a list

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []
    def handle_starttag(self,tag, attrs):
#To collects hyperlink URLs in their absolute format.
        if tag == 'a':
            for attributes in attrs:
                if attributes[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attributes[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)


    def getLinks(self):
        
        return self.url_links
a = 0
def webdir(url, depth, a):
    depth = depth - 1    
    print(a*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    a= a + 4
    for i in url_links:
        if depth < 0 or a < 0:
            return 1
        else:
            webdir(i, depth, a)
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Q8
Write SQL queries on the below database table that return:
referred from:https://www.tutorialspoint.com/sqlite/sqlite_python.htm

In [98]:
import sqlite3

connection = sqlite3.connect('test.db')
print ("Opened database successfully");

connection.execute('''CREATE TABLE mydb(City varchar(50), Country varchar(50), Season varchar(50),Temperature float, Rainfall float);''')
print ("Table created successfully");

import sqlite3

connection = sqlite3.connect('test.db')

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('Mumbai','India','Winter','24.8','5.9')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall)\
      VALUES ('Mumbai','India','Spring','28.4','16.2')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('Mumbai','India','Summer','27.9','1549.4')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('Mumbai','India','Fall','27.6','346.0')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('London','United Kingdom','Winter','4.2','207.7')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('London','United Kingdom','Spring','8.3','169.6')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('London','United Kingdom','Summer','15.7','157.0')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('London','United Kingdom','Fall','10.4','218.5')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('Cairo','Egypt','Winter','13.6','16.5')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('Cairo','Egypt','Spring','20.7','6.5')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('Cairo','Egypt','Summer','27.7','0.1')");

connection.execute("INSERT INTO mydb (City,Country,Season,Temperature,Rainfall) \
      VALUES ('Cairo','Egypt','Fall','22.2','4.5')");
connection.commit()
#the error is because the command was executed before in this section.

Opened database successfully

OperationalError: table mydb already exists

In [71]:
#contents of mydb
cursor = conn.execute("SELECT * from mydb")
output = cursor.fetchall()

for x in output:
    print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [91]:
#a
cursor = conn.execute("Select Temperature from mydb")
output = cursor.fetchall()
print('All the temperature data:')
for x in output:
    print(x)

All the temperature data:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [90]:
#b
cursor = conn.execute("Select Distinct City from mydb")
output = cursor.fetchall()
print('All the cities, but without repetition:')
for x in output:
    print(x)

All the cities, but without repetition:
('Mumbai',)
('London',)
('Cairo',)

In [89]:
#c
cursor = conn.execute("Select * from mydb where Country = 'India'")
output = cursor.fetchall()
print('All the records for India:')
for x in output:
    print(x)

All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [92]:
#d
cursor = conn.execute("Select * from mydb where Season = 'Fall'")
output = cursor.fetchall()
print('All the Fall records:')
for x in output:
    print(x)

All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [93]:
#e 
cursor = conn.execute("Select City, Country, Season From mydb Where Rainfall Between 200 And 400")
output = cursor.fetchall()
print('The city, country, and season for which the average rainfall is between 200 and 400 millimeters:')
for x in output:
    print(x)

The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [94]:
#f
cursor = conn.execute("Select City, Country, Season,Temperature From mydb Where Season = 'Fall' and Temperature >20 order by Temperature Asc")
output = cursor.fetchall()
print('The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:')
for x in output:
    print(x)

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt', 'Fall', 22.2)
('Mumbai', 'India', 'Fall', 27.6)

In [95]:
#g
cursor = conn.execute("Select Sum(Rainfall) from mydb Where City='Cairo'")
output = cursor.fetchall()
for x in output:
    print('The total annual rainfall for Cairo is',x)

The total annual rainfall for Cairo is (27.6,)

In [85]:
#h
cursor = conn.execute("SELECT Season, Round(Sum(Rainfall),2) From mydb Group By Season")
output = cursor.fetchall()
print('The total rainfall from each season is:')
for x in output:
    print(x)

The total rainfall from each season is:
('Fall', 569.0)
('Spring', 192.3)
('Summer', 1706.5)
('Winter', 230.1)

# Q9
Write list comprehension expressions that use list words and generate the following lists:

In [1]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("List words in upper case.")
print([word.upper() for word in words],"\n")

print("List words in lower case.")
print([word.lower() for word in words],"\n")

print("The list of lengths of words in list words.")
print([len(word) for word in words],"\n")

print("The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.")
print([[word.upper(), word.lower(), len(word)] for word in words],"\n")

print("the list of words in list words containing 4 or more characters.")
print([word for word in words if len(word)>=4])

List words in upper case.
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

List words in lower case.
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

The list of lengths of words in list words.
[3, 5, 5, 3, 5, 4, 3, 4, 3]

The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

the list of words in list words containing 4 or more characters.
['quick', 'brown', 'jumps', 'over', 'lazy']